.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.todo-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  border: solid rgb(167, 187, 129) 1px;
  padding: 7px;
  border-radius: 8px;
  margin-bottom: 5px;
}

button {
  margin: 5px
}

.del-btn { 
  background-color: rgb(255, 186, 186);
  border-radius: 5px;
  border: 1px solid black;
}

.edit-btn {
  background-color: rgb(239, 242, 221);
  border-radius: 5px;
  border: 1px solid black;
}

.addtask {
  flex-direction: row;
  margin-bottom: 10px;
  margin-left: 80px;
}